{% extends 'tracking/master.html' %}
{% load static %}

{% block title %}Đổi mật khẩu{% endblock %}

{% block content %}
<style>
    .btn-primary:hover {
        background-color: #0056b3; /* Thay đổi màu nền khi hover */
        border-color: #0056b3;
      }
      
      .btn-outline-secondary:hover {
        background-color: #f8f9fa; /* Thay đổi nền khi hover */
        border-color: #adb5bd;
      }

      .form-control:focus {
        border-color: #5c8df1;
        box-shadow: 0 0 5px rgba(92, 141, 241, 0.5);
      }
      
</style>
<section class="section" style="padding-top: 100px;">
  <div class="container">
    <h3 class="text-center mb-4">Đổi mật khẩu</h3>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg rounded-4 border-0 bg-white p-5">
          <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            
            <div class="mb-4">
              <label for="id_old_password" class="form-label">Mật khẩu cũ</label>
              {{ form.old_password }}
              {{ form.old_password.errors }}
            </div>
            
            <div class="mb-4">
              <label for="id_new_password1" class="form-label">Mật khẩu mới</label>
              {{ form.new_password1 }}
              {{ form.new_password1.errors }}
            </div>

            <div class="mb-4">
              <label for="id_new_password2" class="form-label">Xác nhận mật khẩu mới</label>
              {{ form.new_password2 }}
              {{ form.new_password2.errors }}
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary w-100 py-2">Xác nhận</button>
              <a href="{% url 'profile' %}" class="btn btn-outline-secondary w-100 py-2 mt-3">Hủy</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
