{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% block title %}FlexStart{% endblock %}</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <link href="{% static 'tracking/img/favicon.png' %}" rel="icon">
  <link href="{% static 'tracking/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Poppins&family=Nunito&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'tracking/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'tracking/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'tracking/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'tracking/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'tracking/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'tracking/css/main.css' %}" rel="stylesheet">
</head>

<body class="index-page">

  {% include "tracking/components/header.html" %}

  <main class="main">
    {% block content %}
    {% endblock %}
  </main>

  {% include "tracking/components/footer.html" %}

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- JS Files -->
  <script src="{% static 'tracking/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'tracking/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'tracking/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'tracking/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'tracking/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'tracking/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'tracking/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'tracking/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'tracking/js/main.js' %}"></script>

</body>

</html>
